.circle {
    background: red;
    height: 20px;
    width: 20px;
    position: absolute;
    opacity: .5;
}

.marker {
    width: 1px;
    height: 40px;
    background: black;
    position: absolute;
}

body {
    padding: 0px;
    margin: 0px;
}